@"
# Entornos / secretos
.env

# Python / Spark
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.ipynb_checkpoints/
.sparkStaging/
*.log

# SO / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
"@ | Set-Content -Encoding UTF8 .gitignore
